{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
    "object-curly-newline": ["error", {
      "ObjectExpression": { "minProperties": 5, "multiline": true, "consistent": true },
      "ObjectPattern": { "minProperties": 5, "multiline": true, "consistent": true }
    }],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  }
}